body {
   background-color: aliceblue;
  }
  
h1 {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    margin-left: 0px;
    font-size: 25px;
    text-align: center;
  }

 h2 {
  color: black;
  margin-left: 500px;
  font-size: 22px;  
 }
  
