/*************************************************************************/
/**************************GENERAL STYLES*********************************/
/*************************************************************************/

 
  body {
    /*background: #fbdb36;*/
    background-color: aliceblue;
    color: black;
  }
  

  
  
  @media screen and (max-width: 700px) {
    #main-form {
      width: 90%;
    }
  
    #represent-container input {
      margin-right: 10px;
    }

    
  }

  #survey{
    background-color: #fff;
            max-width: 600px;
            margin: 50px auto;
            padding: 30px 20px;
            box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
  }
  
  