.title{
    font-size: 50px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:indianred;
    text-align: center;
}
body{
    background-color:aliceblue;
}

.description{
    font-weight: normal;
    text-align: center;
    width: 80%;
    color: rosybrown;
    margin-left: 10%;

}

.gif{
    margin: 0 auto;
    display: block;
    size: 50%;
    padding-top: 20px;
}

.container{ 
    display: flex;  
    justify-content: center;  
    align-items: center;  
}

#displayQuote{
    padding-top: 20px;
    text-align: center;
    padding-bottom:20px;
    color:black;
    text-shadow: 20px;
    font-size: x-large;
}

#quoteBtn{
    color: white;
}

button {
    margin: 0 auto;
    display: block;
    font-size: 20px;
    border-color: transparent;
    background-color:rosybrown;
}