@charset "utf-8";
/* CSS Document */
.navbar-custom{
	background-color:#CC7B7D;
}
.body{
	background-color:#AEDDE9;
	text-align: center;
}
h1 {
    vertical-align: center;
    color: #CC7B7D;
	margin-left:35%;
}
p {
    text-align:center;
	vertical-align: center;
	width:50%;
	align-self: center;
	
}
iframe{
    margin-left: 25%;
	margin-bottom:2.5%;
	margin-top:2.5%;
}
#submitButton{
	background-color: #CC7B7D;
    border: 1px solid #777;
    border-radius: 2px;
    font-family: inherit;
    font-size: 21px;
    display: block;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 20px;
}
 form {
            background-color: #fff;
            max-width: 500px;
            margin: 50px auto;
            padding: 30px 20px;
            box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
        }
#trees{
}

